# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE
!NOTICE
!Dockerfile
!docker-compose.yml
!templates/*
!debug.sh
!public/*
!bettit.db.d/placeholder.txt
!start_with_token.sh

# !Makefile

# ...even if they are in subdirectories
!*/
