:root {
  --accent-red: #754c4c;
  --accent-fg: #d6d6d6;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  font-size: 14px;
}
blockquote {
  border-left: 4px solid gray;
  background: whitesmoke;
  padding: 6px;
  margin: 10px 12px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
h5 {
  font-size: 14px;
}
h5 {
  font-style: normal;
}

.center {
  padding: 46px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recent-list {
  margin-top: 10px;
}
td {
  max-width: 310px;
}

.about-page {
  max-width: 600px;
  width: 100%;
}
.about-page p {
  margin: 10px;
}

.footer {
  width: 100%;
  background: var(--accent-red);
  padding: 4px 0px;
  position: fixed;
  bottom: 0px;
  color: white;
  padding-left: 10px;
  font-size: 12px;
}
.footer span {
  white-space: nowrap;
  margin-right: 10px;
}
.footer code {
  background-color: black;
  border-radius: 5px;
  padding: 1px;
}

.footer .crypto-addr {
  display: inline-block;
}
.footer a {
  white-space: nowrap;
  color: var(--accent-fg);
  display: inline-block;
}
