:root {
  --accent-red: #754c4c;
  --accent-fg: #d6d6d6;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  font-size: 14px;
}
blockquote {
  border-left: 4px solid gray;
  background: whitesmoke;
  padding: 6px;
  margin: 10px 12px;
}

h3 strong {
  color: var(--accent-red);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
h5 {
  font-size: 14px;
  font-style: normal;
}
p {
  margin-bottom: 10px;
}
.navbar {
  background: var(--accent-red);
  padding: 4px 0px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.navbar h5 {
  display: inline;
  margin-left: 16px;
}

.navbar-left {
  width: 50px;
}

.navbar-right {
  width: 50px;
}

.navbar a {
  color: var(--accent-fg);
}

.comment {
  padding: 6px;
  margin: 10px 4px;
  overflow-x: auto;
  border-left: 1px solid black;
}

.post-details {
  margin: 0;
  font-size: 12px;
  margin-bottom: 6px;
}

.thread-post {
  overflow: auto;
  margin: 10px 8px 8px 8px;
}

.toggle-button {
  display: block;
  margin-top: 6px;
  cursor: pointer;
}

input {
  display: none;
}
input + label {
  font-family: monospace;
  font-size: 12px;
}
input + label::after {
  content: "[-]";
}
input:checked + label::after {
  content: "[+]";
}
input:checked + label + .children {
  display: none;
}
a {
  word-break: break-all;
}
