{{ define "page" }}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="res/index.css">
	<link rel="stylesheet" href="res/navbar.css">
	<title>Bettit - archived threads</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
	<h5><b>Redirected</b></h5>
</div>

<section class="center">
	<div>
		<h3>Archive is being created</h3>
		<div class="prompt">
			It will be available via <a href="{{ .Route }}">this link</a> in a moment.
		</div>
		<a href="/">Go back</a>
	<div>
</section>
</body>
</html>
{{ end }}

