{{ define "thread" }}
<div class="thread-post" >
	<h3><strong>r/{{.Subreddit}}</strong> {{ .ThreadTitle }}</h3>
	<div class="post-details">
		posted by <a href="https://www.reddit.com/user/{{.Author}}">u/{{.Author}}</a> on {{.Time}}
	</div>
	<a href="{{ .ThreadContentLink }}">{{ .ThreadContentLink }}</a>
	{{ .ThreadContent }}
	{{ if gt (len .Replies) 0 }}
	<div class="replies">
		{{ range .Replies }}
		{{ template "comment" . }}
		{{ end }}
	</div>
	{{ end }}
</div>
{{ end }}

{{ define "comment" }}
<div class="comment" id="{{ .CommentId }}" >
	<div class="post-details">
		posted by <a href="https://www.reddit.com/user/{{.Author}}">u/{{.Author}}</a> on {{.Time}}
	</div>
	<div class="prose">
		{{ .CommentContent }}
	</div>
	{{ if gt (len .Children) 0 }}
	<input type="checkbox" id="cb-{{.CommentId}}">
	<label class="toggle-button" for="cb-{{.CommentId}}">{{ len .Children }} replies </label>
	<div class="children">
		{{ range .Children }}
		{{ template "comment" . }}
		{{ end }}
	</div>
	{{ end }}
</div>
{{ end }}

{{ define "archive" }}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="res/page.css">
	<title>Archive: {{.ThreadTitle}}</title>
</head>
<body>

<div class="navbar">
	<div class="navbar-left">
		<a href="/">Index</a>
	</div>
	<h5><b>Archive of thread <a href="https://reddit.com/{{.ThreadId}}">{{.ThreadId}}</a>, created on {{.ArchiveTime}}.</b></h5>
	<div class="navbar-right"></div>
</div>

{{ .ThreadHTML }}

</body>
</html>
{{ end }}
